<div id="fuse-home" layout="column" layout-align="center center" flex>
  <h1>开发环境说明</h1>
  <p>
    Node v6.6+<br>
    下载地址：
    <a href="http://pan.baidu.com/s/1hrZqKHQ" target="_blank">Node 密码：rptx</a>
  </p>
  <p>
    Visual C++ Build Environment，具体安装步骤见
    <a href="https://www.npmjs.com/package/node-gyp#installation" target="_blank">node-gyp Installation,</a>
    多方面原因，建议直接安装VS2015<br>
    下载地址：
    <a href="http://pan.baidu.com/s/1eS7kNHg" target="_blank">VS2015_Professional_Chs 密码：8use</a>
  </p>
  <p>
    Python v2.7(不能高于v2.7,注意配置系统环境变量)<br>
    下载地址：
    <a href="http://pan.baidu.com/s/1eStDATk" target="_blank">Python-2.7 密码：totp</a>
  </p>
  <p>
    Google Chrome<br>
    下载地址：
    <a href="http://pan.baidu.com/s/1eRVWZce" target="_blank">Google Chrome 密码：u3xq</a>
  </p>
  <p>
    Git<br>
    下载地址：<a href="http://pan.baidu.com/s/1qXIf6Vy" target="_blank">Git_2.11.1_64 密码：qvr0</a>
  </p>
  <p>
    WebStorm<br>
    下载地址：
    <a href="http://pan.baidu.com/s/1qYNLxu8" target="_blank">WebStorm-EAP-171.3566.29 密码：4ufw</a>
  </p>
  <p>npm install -g cnpm --registry=https://registry.npm.taobao.org(全局安装cnpm并切换仓库至国内淘宝镜像)</p>
  <p>cnpm install -g bower(全局安装bower)</p>
  <p>cnpm install -g gulp(全局安装gulp)</p>
  <p>IDE选择Webstorm，版本管理工具使用git</p>
  <p class="md-accent-fg">以下操作请在项目根目录中操作</p>
  <p>cnpm install(加载 npm环境资源依赖)</p>
  <p>bower install(加载 bower环境资源依赖)</p>
  <p>gulp(gulp default，初始化gulp)</p>
  <p>gulp serve(启动服务开发部署)</p>
  <p>gulp serve:dist(启动服务dist部署)</p>
</div>
