<div id="fuse-module-name" layout="column" layout-align="center center">
  <h1>组件命名规范</h1>
  <p>标准组件：纯交互型，不含业务数据、逻辑。交互过于复杂，复用率高</p>
  <table class="denominate-file" cellpadding="0" cellspacing="0">
    <tr>
      <td>文件</td>
      <td>示例</td>
      <td>命名</td>
    </tr>
    <tr>
      <td>folder</td>
      <td>app/main/directive/yourcomponent</td>
      <td>无驼峰，首字母小写</td>
    </tr>
    <tr>
      <td>service</td>
      <td>$yourComponent</td>
      <td>$+驼峰，首字母小写</td>
    </tr>
    <tr>
      <td>controller</td>
      <td>yourComponentController</td>
      <td>驼峰，首字母小写</td>
    </tr>
    <tr>
      <td>directive</td>
      <td>yourComponent</td>
      <td>驼峰，首字母小写</td>
    </tr>
  </table>
  <p>业务组件：最小业务模块，含交互。数据、业务逻辑过于复杂，或模块复用率高。</p>
  <table class="denominate-file" cellpadding="0" cellspacing="0">
    <tr>
      <td>文件</td>
      <td>示例</td>
      <td>命名</td>
    </tr>
    <tr>
      <td>folder</td>
      <td>app/main/directive/wisyourcomponent</td>
      <td>无驼峰，首字母小写</td>
    </tr>
    <tr>
      <td>service</td>
      <td>$wisYourComponent</td>
      <td>$+驼峰，首字母小写</td>
    </tr>
    <tr>
      <td>controller</td>
      <td>wisYourComponentController</td>
      <td>驼峰，首字母小写</td>
    </tr>
    <tr>
      <td>directive</td>
      <td>wisYourComponent</td>
      <td>驼峰，首字母小写</td>
    </tr>
  </table>
</div>
